In [11]:
import pickle

In [12]:
#added valuable comment

In [13]:
train = pickle.load(open('/tmp/citi/train_sample.pckl/train_sample.pckl', 'rb'))

In [14]:
train['lat'] = train['location'].map(lambda x: x['latitude'])
train['lon'] = train['location'].map(lambda x: x['longitude'])

In [15]:
train['price_exist'] = train['price'].map(lambda x: 1 if x>0 else 0)

In [16]:
train.head(10)

,can_buy,can_promote,category,contacts_visible,date_created,delivery_available,description,fields,id,images,location,mortgage_available,name,payment_available,price,subcategory,subway,lat,lon,price_exist
0,False,False,9,True,1492780671,False,,"[{'field': {'name': 'Женский гардероб', 'id': ...",3edeb34cf93f490ff760af85,"[{'id': '58fa06746c86cb4f22313452', 'num': 1, ...","{'latitude': 55.806888, 'longitude': 37.546077}",False,Сумка DG,True,199900,914,NaN,55.806888,37.546077,1
1,False,False,22,True,1476824319,False,8-12 лет,"[{'field': {'name': 'Детский гардероб', 'id': ...",c98febd50dad3cc0ffc86085,"[{'id': '58068ccc04559f59bdbda92d', 'num': 1, ...","{'latitude': 55.692979, 'longitude': 37.872337}",False,Комплект,False,35000,2202,NaN,55.692979,37.872337,1
2,False,False,22,True,1473004313,False,"На девочку 1,5 г,состояние хорошее","[{'field': {'name': 'Детский гардероб', 'id': ...",ade01e13912a46a99134cc75,"[{'id': '57cc42ecd53f3dcf17dc01c8', 'num': 1, ...","{'latitude': 55.639011, 'longitude': 37.349378}",False,Пальтишко демисезонное,False,30000,2204,NaN,55.639011,37.349378,1
3,False,False,22,True,1476307221,False,"Размер-135mm, euro-22.5.Прочная, мягкая, не ск...","[{'field': {'name': 'Детский гардероб', 'id': ...",ab3e6941c11304c1519aef75,"[{'id': '580546528ae74be97723532e', 'num': 1, ...","{'latitude': 55.847334, 'longitude': 37.495834}",False,Attipas,True,80000,2209,NaN,55.847334,37.495834,1
5,False,False,22,True,1503487787,False,,"[{'field': {'name': 'Детский гардероб', 'id': ...",252452a91c944a22c276d995,"[{'id': '599d66f3f235022f7411a535', 'num': 1, ...","{'latitude': 60.044826, 'longitude': 30.35546}",False,Жилет теплый,True,50000,2204,NaN,60.044826,30.355460,1
6,False,False,9,True,1497710133,False,"Новые, текстильные босоножки, 37 размер в разм...","[{'field': {'name': 'Женский гардероб', 'id': ...",364f7659a4e9ba6c53e35495,"[{'id': '59453dedcf20459d872a9452', 'num': 1, ...","{'latitude': 56.36796, 'longitude': 43.818292}",False,"Босоножки, сабо",False,30000,902,NaN,56.367960,43.818292,1
7,False,False,15,True,1488650318,False,Seagate\nМодель St320lt020 \nHDD для ноутбуков...,"[{'field': {'name': 'Компьютерная техника', 'i...",c3d87065e4dbc080f400bb85,"[{'id': '58bb003a1c4031f18f0c8db1', 'num': 1, ...","{'latitude': 51.638327, 'longitude': 39.267098}",False,Жесткий диск для ноутбука Seagate 320gb,True,150000,1508,NaN,51.638327,39.267098,1
8,False,False,4,True,1491041990,False,"Состояние отличное,без дефектов","[{'field': {'name': 'Для дома и дачи', 'id': 4...",22e6a518d53f490f6ce7fd85,"[{'id': '58df7dd485e9d259f5410522', 'num': 1, ...","{'latitude': 45.017036, 'longitude': 41.92324}",False,Ковер 324 на 240,True,200000,403,NaN,45.017036,41.923240,1
10,False,False,3,True,1481301887,False,"Продам кенгуру 350 , ванночка с горкой 250","[{'field': {'name': 'Детские товары', 'id': 3,...",c6bd550b7f1304c1f7fda485,"[{'id': '584adf708ae74b10825ffe6b', 'num': 1, ...","{'latitude': 53.279983, 'longitude': 50.273564}",False,Кенгуру,False,35000,301,NaN,53.279983,50.273564,1
11,False,False,2,True,1478683172,False,,"[{'field': {'name': 'Бытовая техника', 'id': 2...",117b885a3cf9554042ae2285,"[{'id': '5822ea23c5c2e610324a2fcf', 'num': 1, ...","{'latitude': 53.72738, 'longitude': 84.926507}",False,Машинка автомат,True,350000,208,NaN,53.727380,84.926507,1

In [17]:
import pandas as pd

In [18]:
data = train[['category', 'subcategory', 'price', 'lat', 'lon']]

In [19]:
from sklearn.model_selection import train_test_split

In [20]:
X_train, X_test, y_train, y_test = train_test_split(
    data.drop('price', axis=1),
    data['price'],
    test_size=0.33, random_state=42)

In [21]:
from sklearn.ensemble import RandomForestRegressor

In [22]:
rf = RandomForestRegressor(n_estimators=1000)

In [23]:
rf.fit(X_train, y_train)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=1000, n_jobs=None, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)

In [24]:
from sklearn.metrics import mean_squared_log_error

In [25]:
mean_squared_log_error(y_test, rf.predict(X_test))**0.5

2.4634795021905163